.col-sm-4.col-md-3.proto-content
  - if user_signed_in? && current_user.id == project.user_id
    .dropdown.drop_menu_location
      %button.btn.btn-default{ id: "dropdownMenu", type: "button",  data: { toggle: "dropdown" } } ACTION
      %ul.dropdown-menu{ aria: {labelledby: "dropdownMenu1"} }
        %li
          =link_to "Delete", project_path(project), rel: "nofollow", data: {method: "delete"}
        %li
          =link_to "Edit", edit_project_path(project)
  .thumbnail#content
    = link_to image_tag("#{project.images.main.first.image}"), project_path(project)
    .caption
      %h3
        = project.title
      .proto-meta
        .proto-user
          = link_to "by #{project.user.nickname}", user_path(project.user)
        .proto-posted
          = project.created_at.strftime("%b %d")
      %ul.proto-tag-list.list-inline
        - project.tags.each do |tag|
          %li
            = link_to tag, tag_path(tag.name), class: "btn btn-default"
